* { 
    /* outline: 1px solid red;
    outline-offset: -1px; */
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.userLocation {
    text-align: center;
}
.userEmail {
    text-align: center;
}

table{
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
    font-size: large;

}

th {
    border: 1px solid black;
    font-size: x-large;
    font-weight: bold;
    height: 50px;
    text-align: center;
}

.navbar-brand {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: xx-large;
}

.nav-item {
    font-size: large;
}